/****************************************************
    * Author: Karina McGourty

    * Assignment: Recreate a Technology Web Page

    * Student ID: STU-00001261

    * Date: 2017/02/06
*****************************************************/

body {
    font-family: 'Arvo', serif;
}

h3 {
    font-size:140%;
}

h4 {
    color:#fff;
    padding:2%;
}

a {
    color:#fff;
}

/**********************
DESKTOP STYLES
**********************/

/* Header */
header {
    background:#005689;
}

#guardian-logo {
    width:320px;
    height:60px;
}

.glyphicon-border {
    border:0.5px solid #fff;
    border-radius:900px;
    font-size:16px;
    padding:8px;
}

/* Navigation */
.nav > li > a:focus, .nav > li > a:hover {
    background:#005689;
    text-decoration:underline;
    color:#fff;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background:#005689;
}

.nav-link-padding > li > a:focus, .nav-link-padding > li > a:hover {
    background:#00456e;
    text-decoration:underline;
    color:#fff;
}

.nav-hamburger-background > li > a:focus, .nav-hamburger-background > li > a:hover {
    background:#333;
    text-decoration:underline;
    color:#fff;
}

#nav-guardian_g {
    width:40px;
    height:35px;
}

.subscribe {
    border-left:0.5px solid #fff;
    margin-top:1%;
}

.nav-pills.nav-link-padding-top li a.nav-link-padding-top {
    padding:4px 12px;
}

.nav-link-padding > li > a {
    padding:10px 4px 10px;
}

.nav-hamburger-background > li {
    background:#333;
    float:right;
    padding:0 4% 0 4%;
}

.row.main-nav {
    font-size:15px;
    background:#00507f;
    margin-top:1.5%;
}

.row.main-nav-background {
	background:#00456e;
}

.hamburger-padding {
	padding:0;
}

/* Breadcrumbs */
.row.breadcrumb {
	background:#e5e5e5;
    padding:0;
    font-size:15px;
    margin-bottom:0;
}

.row.breadcrumb-background {
	background:#dfdfdf;
}

.row.breadcrumb a {
	color:#005689;
}

.row.breadcrumb .glyphicon-menu-right {
	font-size:10px;
    color:#767676;
}

.breadcrumb-hover > li > a:focus, .breadcrumb-hover > li > a:hover {
    background:#dfdfdf;
    text-decoration:underline;
    color:#005689;
}

/* Technology Section */
.tech-heading {
	background:#fff;
    color:#00456e;
    position:relative;
}

.main-article-background {
	background:#fff;
}

.row.main-article-padding {
	padding-top:2.4%;
}

.tech-heading h3 {
	font-weight:bold;
    border-top:1px solid #4bc6df;
    padding-top: 3%;
}

.spotlight-article figure img, .primary-article-1 figure img, .primary-article-2 figure img, .secondary-article figure img {
    width:100%;
}

.spotlight-article figure img {
    border-top:1px solid #951c55;
    width:100%;
}

.spotlight-article {
	background:#951c55;
}

.spotlight-article span {
	padding:2%;
    color:#fff;
}

.spotlight-article span, .spotlight-article a {
	font-weight:normal;
    font-size:12px;
}

.spotlight-article a:focus, .spotlight-article a:hover {
	color:#fff;
}

.article-link:focus, .article-link:hover {
	text-decoration:none;
}

.primary-article-1 h4, .primary-article-2 h4 {
	color:#333;
    font-size:17px;
}

.primary-article-1 p, .primary-article-1 span, .primary-article-1 a, .primary-article-2 p, .primary-article-2 span, .primary-article-2 a, .secondary-article span, .secondary-article a  {
    color:#858585;
    font-size:12px;
}

.primary-article-1 span, .primary-article-1 a, .primary-article-2 span, .primary-article-2 a, .secondary-article span, .secondary-article a {
    padding-right:2%;
}

.box-coloured {
    border-top:1px solid #951c55;
    background:#951c55;
    color:#fff;
}

.box-coloured span, .box-coloured a {
    color:#fff;
}

.box-coloured-2 {
    border-top:1px solid #951c55;
    background:#005689;
    color:#fff;
}

.secondary-article h5 {
	font-size:13px;
    padding:2%;
    color:#333;
}

.secondary-article h6 {
    padding:2%;
}

.secondary-article-link > h5, .secondary-article-link:focus, .secondary-article-link:hover {
	text-decoration:none;
    color:#333;
}

.secondary-article-link-coloured > h5, .secondary-article-link-coloured:focus, .secondary-article-link-coloured:hover {
	text-decoration:none;
    color:#fff;
}

.box-standard {
	border-top:1px solid #4bc6df;
}

.light-button {
	color:#005689;
    border:1px solid #4be6df;
    padding:1% 4%;
    background:#fff;
    border-radius:15px;
    font-size:12px;
    position:absolute;
    bottom:0;
}

.light-button:focus, .light-button:hover {
    color:#333;
    border:1px solid #bdbdbd;
}

.dark-button {
	color:#fff;
    border:1px solid #00507f;
    background:#00507f;
    padding:0.5% 1%;
    border-radius:15px;
    font-size:12px;
    margin-top:2%;
}

.dark-button:focus, .dark-button:hover {
    color:#fff;
    border:1px solid #00456e;
    background:#00456e;
}

.more-button {
	padding-left:4%;
}

/* General Section Styles */
section .wrap {
	background:#f4f4f4;
    display:flex;
}

.section-heading {
	background:#fff;
    color:#00456e;
    position:relative;
}

.section-heading h3 {
	font-weight:bold;
    padding-top: 3%;
}

section .divider-bar {
	background:#f4f4f4;
    display:flex;
}

.divider {
    margin-top:2%;
    border-top:1px solid #4bc6df;
}

.same-height {
    height:260px;
}

.opinion .same-height {
    height:230px;
}

.box-dark {
    background:#e5e5e5;
    color:#005689;
    border-top:1px solid #4bc6df;
}

.box-dark h5 {
    color:#005689;
    font-size:16px;
}

.box-dark a {
    color:#005689;
}

.hamburger-padding-sml, .left-menu-top-sml, .main-menu-sml {
    display:none;
}

/* News Section */
.news-background {
    background:#f4f4f4;
    margin-bottom:2%;
}

/* In Depth Section */
figure img.in-depth-image {
    width:34%;
    float:left;
    padding:1%;
}

section.in-depth .box-coloured {
    margin-bottom:3%;
}

section.in-depth .secondary-article.box-coloured a.article-link h5 {
    color:#fff;
}

section.in-depth .secondary-article.box-standard {
    background:#e5e5e5;
    border-top:1px solid #951c55;
}

/* Footer Section */
ul.nav.nav-pills.footer-nav, ul.nav.nav-pills.footer-nav li {
    margin:0.5%;
}

.topic-button {
    background:#f1f1f1;
    border:none;
    border-radius:15px;
    padding:2% 10% 2% 10%;
}

.topic-button a, .topic-button-last a {
    color:#333;
}

.topic-button-last {
    background:#fff;
    border:none;
    border-radius:15px;
    padding:2% 10% 2% 10%;
    border:1px solid #a4a4a4;
}

.topic-button:hover {
    background:#dfdfdf;
}

.topic-button-last:hover {
    border:1px solid #333;
}

.topic-heading {
    color:#767676;
}

.footer-nav {
    border-top:1px dotted #a4a4a4;
    padding-top:1%;
}

.row.back-to-top-link, .main-footer-nav {
    font-size:15px;
    background:#1a6795;
}

.back-to-top-background {
    padding:1%;
    background:#005689;
}

.back-to-top-background a, .back-to-top-background span, .footer p {
    color:#fff;
}

.copyright-border {
    border-top:0.0625rem solid #767676;
    padding-top:1%;
}

.main-footer-nav-background {
    background:#00456e;
}

.footer, .footer-background {
    background:#484848;
    padding:2% 0 1% 0;
}

.footer-hover li a:hover {
    background:none;
}

.email-footer {
    border-radius:62.5rem 0 0 62.5rem;
    border:none;
    padding:2%;
}

.signup-footer {
    border-radius:0 62.5rem 62.5rem 0;
    border:none;
    padding:2%;
    margin-left:-2%;
    background:#767676;
    color:#fff;
}

.signup-footer:hover {
    background:#5d5d5d;
}

.hamburger-padding-xsml {
    display:none;
}

.compact-footer {
    display:none;
}

/* On This Site Section */
section.this-site .secondary-article.box-standard {
    background:#7d7569;
    border-top:1px solid #ffce4b;
}

section.this-site .secondary-article.box-standard.same-height a.secondary-article-link h5 {
    color:#fff;
    font-size:18px;
}

/* Gadgets Section */
section.gadgets .secondary-article.box-standard {
    background:#7d7569;
    border-top:1px solid #ffce4b;
}

section.gadgets .secondary-article.box-standard.same-height a.secondary-article-link h5 {
    color:#fff;
    font-size:18px;
}

span.glyphicon.glyphicon-star {
    color:#333;
    font-size:14px;
}

 span.glyphicon.glyphicon-star.full {
    color:#ffce4b;
    font-size:14px;
}

.stars {
    margin-left:4%;
}

/* Reviews Section */
section.reviews .secondary-article.box-dark.same-height.review-image a.secondary-article-link h5 {
    font-size:17px;
    color:#333;
}

section.reviews .secondary-article.box-coloured.same-height.review-image a.secondary-article-link h5 {
    font-size:17px;
    color:#fff;
}

section.reviews .secondary-article.box-coloured-2.same-height.review-image a.secondary-article-link h5 {
    font-size:17px;
    color:#fff;
}

section.reviews .secondary-article.box-coloured-2.same-height.review-image span.glyphicon.glyphicon-comment, section.reviews .secondary-article.box-coloured-2.same-height.review-image a {
    color:#fff;
}

/* Games Section */
section.games .secondary-article.box-coloured.same-height.games-image a.secondary-article-link h5 {
    font-size:17px;
    color:#fff;
}

section.games .secondary-article.box-dark.same-height.games-image a.secondary-article-link h5 {
    font-size:17px;
    color:#333;
}

/****************************** 
1024 x 768 LARGE TABLET MEDIA QUERIES 
******************************/
@media only screen and (min-width: 641px) and (max-width: 1024px) { 
    
    .nav-link-padding > li > a {
        margin-right:3%;
        padding:10px 1px;
    }
    
    .row.main-nav {
        font-size:13px;
    }
    
    .nav-link-padding-top > li > a {
        margin-right:3%;
        padding:10px 5px;
    }
    
    .left-menu-top-sml, .main-menu-sml {
        display:none;
    }
    
    .hamburger-padding-sml {
	    padding:0;
        display: block;
    }
    
    .main-footer-nav {
        font-size:13px;
    }
    
    .hamburger-padding {
        display:none;
    }
    
    .email-footer {
        width:65%;
    }
    
    .compact-footer {
        display:none;
    }
    
    figure img.in-depth-image {
        padding:1%;
        width:42%;
    }
    
    .nav-pills.nav-link-padding-top li a.nav-link-padding-top {
        padding:4px 5px;
    }        
    
    section.this-site .secondary-article.box-standard.same-height a.secondary-article-link h5, section.gadgets .secondary-article.box-standard.same-height a.secondary-article-link h5, section.reviews .secondary-article.box-standard.same-height a.secondary-article-link h5 {
        font-size:15px;
    }
        
} 

/**************************************
640 x 960 SMALL TABLET MEDIA QUERIES 
***************************************/
@media only screen and (max-width:640px) { 
    
    .right-menu-top, .left-menu-top, .logo, .main-menu, .hamburger-padding, .breadcrumb {
        display:none;
    }
    
    .left-menu-top-sml {
        display:block;
        padding:0;
        font-size:15px;
    }
    
    .main-menu-sml {
        display:block;
        padding:0;
        font-size:16px;
    }
    
    #guardian-logo {
        width:30%;
        height:auto;
        padding:1%;
        float:right;
    }
    
    .hamburger-padding-xsml {
	    padding:0;
        display: block;
    }
    
    .nav-link-padding > li > a {
        padding: 10px 6px;
    }
    
    .hamburger-padding-xsml ul.nav.nav-pills.nav-link-padding.nav-hamburger-background li {
        padding:0;
    }
    
    section .wrap {
        background:transparent;
        display:block;
    }
    
    .tech-heading {
        float:none;
        height:auto;
    }
    
    .tech-heading h3 {
        border-top:none;
        padding-top:0;
    }
    
    .left-menu-top-sml ul.nav.nav-pills.nav-link-padding-top li a {
        border-radius:50%;
        border:1px solid #fff;
    }
    
    .main-menu-sml ul.nav.nav-pills.nav-link-padding li.tech-breadcrumb {
        background:#dfdfdf;
        margin-left:0;
        color:#005689;
    }
    
    .main-menu-sml ul.nav.nav-pills.nav-link-padding li.tech-breadcrumb a {
        color:#005689;
    }
    
    .main-menu-sml ul.nav.nav-pills.nav-link-padding li.tech-breadcrumb a span.glyphicon.glyphicon-menu-right {
        color:#767676;
        font-size:10px;
    }
    
    .spotlight-article {
        margin-bottom:3%;
    }
    
    .box-standard {
        margin-bottom:3%;
        background:#f4f4f4;
    }
    
    .box-standard a.article-link p {
        padding-left:2%;
    }
    
    .box-coloured, .box-coloured-2 {
        margin-bottom:3%;
    }
    
    .light-button {
        display:none;
    }
    
    .people-image figure, .opinion-image figure, .on-this-site-image figure, .gadget-image figure, .review-image figure, .games-image figure {
        margin:1%;
        float:left;
        width:23%;
    }
    
    .secondary-article.box-coloured.same-height.people-image a.secondary-article-link-coloured, .secondary-article.box-coloured.same-height.people-image a.secondary-article-link-coloured h5 {
        float:left;
        font-size:15px;
    }
    
    .secondary-article.box-coloured.same-height.people-image a.secondary-article-link-coloured h6 {
        display:none;
    }
    
    .footer-nav {
        display:none;
    }
    
    .row.main-footer-nav-background div.col-md-10 ul.nav.nav-pills.nav-link-padding {
        display:none;
    }
    
    .row.footer-background div.col-md-4 form {
        padding-bottom:7%;
        border-bottom: 1px solid #767676;
    }
    
    .full-footer {
        display:none;
    }
    
    .compact-footer {
        display:block;
    }
    
    .compact-footer ul.nav.nav-link-padding.footer-hover {
        margin-top:10%;
    }
    
    .box-coloured.same-height.people-image span, .box-coloured.same-height.people-image a {
        float:right;
    }
    
    .same-height {
        height:125px;
    }
    
    .opinion .same-height {
        height:125px;
        border-top:1px solid #4bc6df;
        margin-top:2%;
    }
    
    figure img.in-depth-image {
        width:21%;
        padding:1%;
    }
    
    /* Article Page */
    section.article .main-article-background figure img {
        width:100%;
    }
    
    section.article .main-article-background figure figcaption {
        border-bottom:1px dotted #a4a4a4;
        padding-bottom:2%;
    }
    
    section.article .main-article-background div.article-author span {
        font-size:13px;
    }
    
    section.article .main-article-background div.article-author, section.article .main-article-background div.article-author a {
        color:#00456e;
        font-weight:bold;
    }
    
    section.article .main-article-background div.article-author {
        border-bottom:1px dotted #a4a4a4;
        padding-bottom:2%;
    }
    
    section.article .main-article-background div.article-social ul {
        padding-left:0;
    }
    
    section.article .main-article-background div.article-social ul li {
        display:inline;
    }
    
    section.article .main-article-background div.article-social ul li a {
        color:#333;
        font-size:26px;
        padding:1% 1% 1% 0;
    }
    
    section.article .main-article-background h2 {
        margin-bottom:4%;
    }
    
    section.reviews .secondary-article.box-coloured-2.same-height.review-image {
        margin-top:3%;
    }
    
    section.games .secondary-article.box-dark.same-height.games-image {
        margin-bottom:3%;
    }
    
    /* Social Icons */
    .fa-facebook-official::before {
        color:#3b5998;
    }
    
    .fa-twitter-square::before {
        color:#55acee;
    }
    
    .fa-envelope::before {
        color:#5d5d5d;
    }
    
    .fa-linkedin-square::before {
        color:#007bb5;
    }
    
    .fa-google-plus-square::before {
        color:#dd4b39;
    }
    
    .fa-whatsapp::before {
        color:#4dc247;
    }

} 